@page
@model WebApplication1.Pages.Offer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].SellerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].PublicationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Promotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].SellingMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListingOffer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingMode.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
