@page
@model WebApplication1.Pages.Offer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].SellerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].DeliveryCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].SellingMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOffer[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListingOffer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        <tr>
            @foreach (var image in item.Images)
            {
                <td>
                    <img src="@image.Url" alt="Alternate Text" width="200" height="200" />
                </td>
            }
        </tr>
}       
    </tbody>
</table>
